
                    <table class="w-full border border-base-200 dark:border-base-700 text-sm">
                        <thead class="bg-base-100 dark:bg-base-800 text-left">
                            <tr>
                                <th class="p-3 border border-base-200 dark:border-base-700">Розділ</th>
                                <th class="p-3 border border-base-200 dark:border-base-700">Призначення</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="">
                                <td class="p-3 border border-base-200 dark:border-base-700">Авторизаційний токен</td>
                                <td class="p-3 border-b border-base-200 dark:border-base-700">Генерація та керування токенами доступу для API-запитів. Потрібно для <span class="text-primary-600">розробників</span>.</td>
                            </tr>
                            <tr class="">
                                <td class="p-3 border border-base-200 dark:border-base-700">Аутентифікація та авторизація</td>
                                <td class="p-3 border-b border-base-200 dark:border-base-700">Керування правами доступу та перевірка користувачів. Доступно тільки для <span class="text-primary-600">адміністраторів</span>.</td>
                            </tr>
                            <tr class="">
                                <td class="p-3 border border-base-200 dark:border-base-700">Закази</td>
                                <td class="p-3 border-b border-base-200 dark:border-base-700">Перегляд, редагування та обробка комерційних замовлень клієнтів. Здебільшого замовлення поступають автоматично з сайту та з телеграм боту, але <span class="text-primary-600">друкарі</span> можуть прееглядати та створювати замовлення, якщо потрібно.</td>
                            </tr>
                            <tr class="">
                                <td class="p-3 border border-base-200 dark:border-base-700">Звітність</td>
                                <td class="p-3 border-b border-base-200 dark:border-base-700">Фінансова та аналітична звітність про діяльність магазину. Розділ звітності для <span class="text-primary-600">друкарів</span>.</td>
                            </tr>
                            <tr class="">
                                <td class="p-3 border border-base-200 dark:border-base-700">Каталог</td>
                                <td class="p-3 border-b border-base-200 dark:border-base-700">Управління товарними позиціями, категоріями та характеристиками. Також <span class="text-primary-600">друкарі</span> можуть знайти там розділ з переліком матеріалів та технологій, та додати від себе нові матеріали, якщо отримали щось.</td>
                            </tr>
                        </tbody>
                    </table>
